{% extends "base.html" %}

{% block title %}
    Delete Task
{% endblock title %}
{% block content %}
    <section class="text-light p-5 pg-lg-0 pt-lg-5 text-center"
             style="background-color: rgb(74, 44, 95)">
        <div class="container-fluid">
            <h1>Delete "{{ task }}"</h1>
        </div>
    </section>
    <section style="padding-bottom: 400px">
        <div class="container">
            <div class="row align-items-center justify-content-center py-5">
                <div class="card position-absolute py-4 shadow-sm" style="width: 500px;">
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            <p class="fs-5 text-center">Are you sure?</p>
                            <div class="text-center">
                                <button class="btn purple-button text-white">Delete</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
