{% extends "base.html" %}

{% block title %}
    My Projects
{% endblock title %}
{% block content %}
    <section class="text-light p-5 pg-lg-0 pt-lg-5 text-center"
             style="background-color: rgb(74, 44, 95)">
        <div class="container-fluid">
            <h1>My Projects</h1>
        </div>
    </section>
    <section class="p-5">
        <div class="container">
            {% if projects|length == 0 %}
                <p class="lead">You are not assigned to any projects</p>
            {% else %}
                <div class="row text-center g-4">
                    {% for project in projects %}
                        {% if projects|length < 3 %}
                            <div class="col-md">
                            {% else %}
                                <div class="col-xl-4 col-md-6">
                                {% endif %}
                                <div class="card bg-light shadow-sm">
                                    <div class="card-body text-center">
                                        <div class="h1 mb-3">
                                            <i class="bi bi-layers"></i>
                                        </div>
                                        <h3 class="card-title mb-3">
                                            <a class="link-dark"
                                               href="{% url "show_project" project.id %}"
                                               style="text-decoration: none">{{ project.name }}</a>
                                        </h3>
                                        <p class="card-text">{{ project.tasks.all|length }} tasks</p>
                                        <a href="{% url "show_project" project.id %}"
                                           class="btn btn-outline-secondary">Read More</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </section>
    {% endblock content %}
