{% extends "base.html" %}

{% block title %}
    Edit My Profile
{% endblock title %}
{% block content %}
    <section class="text-light p-5 pg-lg-0 pt-lg-5 mb-5 text-center"
             style="background-color: rgb(74, 44, 95)">
        <div class="container-fluid">
            <h1>Edit My Profile</h1>
        </div>
    </section>
    <section class="py-5">
        <div class="container" style="padding-bottom: 500px;">
            <div class="row align-items-center justify-content-center py-5">
                <div class="card position-absolute py-4 shadow-sm"
                     style="width: 500px;
                            margin-top: 375px">
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            {{ uform.as_p }}
                            {{ pform.as_p }}
                            <div class="d-grid mt-4 mb-3">
                                <button class="btn purple-button text-white">Edit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
